services:

  db:
    image: postgres:15
    container_name: moss_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: moss_store
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: moss_visualizer
    restart: always
    ports:
      - "8081:8080"

  app:
    build: .
    container_name: moss_app
    ports:
      - "3000:3000"
    depends_on:
      - db
    command: npm run dev

volumes:
  db_data:
